/* .relative{
    @apply rounded-t bg-gray-700 px-5 p-3 font-serif text-sm font-bold text-gray-200 ;
}
.relative + div > pre{
    @apply mt-0 rounded-t-none;
} */
.markdown{
  @apply mx-auto my-auto sm:w-11/12 xl:w-5/6 text-sm sm:text-base md:text-xl;
}
.titulo{
  line-height: normal;
}
.markdown div > div  > a{
  @apply text-gray-50;
}
.avisoCookies {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 300px;
  line-height: 150%;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;
  padding-top: 60px;
  text-align: center;
}
.fondo{
  display: block;
  background: rgba (1,1,1,.20);
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.markdown > div {
  @apply rounded-t float-left w-full  mx-0 bg-gray-800 px-5 p-3 font-serif text-sm font-bold flex-auto text-gray-200;
}
.markdown > p {
  @apply pt-1 pb-1 m-4 leading-loose ;
}
.markdown > p > b {
  @apply text-red-800 dark:text-red-500 underline;
}
.markdown > p + p {
  @apply mt-0;
}
.markdown ul {
  @apply mx-4 list-disc;
}
.markdown img {
  @apply lg:w-4/5 m-auto;
}
.markdown section {
  @apply w-full justify-items-center items-center;
}
.markdown strong,
.markdown em{
  @apply font-bold mr-0 ml-0 text-green-700;
}
.markdown ol {
  @apply mb-4 list-decimal;
}
.markdown li {
  @apply mb-4 list-inside;
}
.markdown h1 {
  @apply m-0 text-4xl sm:text-5xl;
}
.markdown h2 {
  @apply m-1 text-3xl sm:text-4xl ;
}
.markdown h3 {
  @apply m-2 text-3xl ;
}
.markdown h4 {
  @apply m-3 text-xl ;
}
.markdown h5 {
  @apply m-3 text-lg ;
}
.markdown code {
  @apply dark:bg-gray-800 text-red-500 rounded-t-none;
}
.markdown a {
  @apply text-blue-800 pr-4 dark:text-green-500 underline hover:text-purple-800;
}
.markdown div > pre {
  @apply px-5 font-serif text-sm overflow-auto font-bold text-gray-200;
}
.markdown table {
  @apply max-w-full table-auto;
}
.markdown pre > code {
  @apply font-bold text-gray-200 float-left;
}
